@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
 
* {
  font-family: "Open sans";
}
 
.partner {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  
}
 
.partner-text {
  margin-bottom: 20px;
}
 
.partner-box-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}
 